﻿@model Store.Models.Brand
@{
    ViewData["Title"] = "Details";

}
<h2>Details</h2>
<div>
    <h4>Brand</h4>
    <hr />
    <d1 class="dl-horizental">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        @if (Model.ImageUrl != null)
        {
            <dt>
                Image:
            </dt>
            <dd>
                @if (Model.ImageUrl != null)
                {
                    <img src="~/uploads/@Model.ImageUrl" style="width:128px;" class="img-thumbnail" />
                }
                </dd>
        }
        </d1>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info"> </a>
    <a asp-action="Index">Back to List</a>
</div>