﻿@model Store.Models.Bill
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>
    Bill
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliverType" class="control-label"></label>
                <select asp-for="DeliverType" class="form-control">
                    @{string[] TypeCat = new string[] { "Flying", "Cars" };}
                    @foreach (var dow in TypeCat)
                    {
                        <option value="@dow">@dow</option>
                    }
                </select>
                <span asp-validation-for="DeliverType" class="text-danger"></span>
            </div>
            
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info"> Back to List</a>
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index"> Back to List</a>
</div>
@section Scripts{
    <partial name="_Validation" />
}



