﻿@model Store.Models.Bill
@{
    ViewData["Title"] = "Details";

}
<h2>Details</h2>
<h3>Are you sure you want to delete this</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliverType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliverType)
        </dd>
       
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
