﻿@model Store.Models.Bill
@{
    ViewData["Title"] = "Details";

}
<h2>Details</h2>
<div>
    <h4>Bill</h4>
    <hr />
    <d1 class="dl-horizental">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliverType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliverType)
        </dd>
       
    </d1>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info"> </a>
    <a asp-action="Index">Back to List</a>
