﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BookStore</a>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Brand">Brands</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Category">Categorys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/BrandCategory">BrandCategorys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Item">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Image">Images</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Bill">Bills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/BillItem">BillItems</a>
        </li>

    </ul>

        <form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Book">
            <input class="form-control mr-sm-2" name="term" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
