﻿<environment names="Development">

    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery.validate.unobtrusive.min.js_3.2.10/cdnjs/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-validation-1.19.1/dist/jquery.validate.js"></script>
</environment>

