﻿@model Store.ViewModels.ItemBrandCategoryViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>
    ItemBrandCategoryViewModel
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @if (ViewBag.Message != null)
            {
                <h5 class="alert alert-danger">@ViewBag.Message</h5>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="BrandCategoryId" class="control-label"></label>
                <select asp-for="BrandCategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.BrandCategorys,"Id","Brand.Name") )
                                  "></select>
                <span asp-validation-for="BrandCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandCategoryId" class="control-label"></label>
                <select asp-for="BrandCategoryId" asp-items="@Model.Items" class="form-control"
                       
                                  ></select>
                <span asp-validation-for="BrandCategoryId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measure" class="control-label"></label>
                <input asp-for="Measure" class="form-control" />
                <span asp-validation-for="Measure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VedioCard" class="control-label"></label>
                <input asp-for="VedioCard" class="form-control" />
                <span asp-validation-for="VedioCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screen" class="control-label"></label>
                <input asp-for="Screen" class="form-control" />
                <span asp-validation-for="Screen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CPU" class="control-label"></label>
                <input asp-for="CPU" class="form-control" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSD" class="control-label"></label>
                <input asp-for="SSD" class="form-control" />
                <span asp-validation-for="SSD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HDD" class="control-label"></label>
                <input asp-for="HDD" class="form-control" />
                <span asp-validation-for="HDD" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info"> Back to List</a>
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index"> Back to List</a>
</div>
@section Scripts{
    <partial name="_Validation" />
}
