﻿
@model Store.Models.Item
@{
    ViewData["Title"] = "Details";

}
<h2>Details</h2>
<h3>Are you sure you want to delete this</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VedioCard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VedioCard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SSD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SSD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDD)
        </dd>
    </dl>
    <form asp-action="ConfirmDelete" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-danger">Back to List</a>
    </form>
</div>
