﻿
@model Store.Models.BillItem
@{
    ViewData["Title"] = "Details";

}
<h2>Details</h2>
<h3>Are you sure you want to delete this</h3>
<div>
    <h4>BillItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
    <form asp-action="ConfirmDelete" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-danger">Back to List</a>
    </form>
</div>
