﻿@model Store.Models.BillItem
@{
    ViewData["Title"] = "Details";

}
<h2>Details</h2>
<div>
    <h4>BillItem</h4>
    <hr />
    <d1 class="dl-horizental">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>


    </d1>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info"> </a>
    <a asp-action="Index">Back to List</a>
</div>
