﻿@model Store.ViewModels.BillItemViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>
    BillItemViewModel
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="BillItemId" class="control-label"></label>
                <input  asp-for="BillItemId" readonly class="form-control" />
                <span asp-validation-for="BillItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillId" class="control-label"></label>
                <select asp-for="BillId" class="form-control"
                        asp-items="@(new SelectList(Model.Bills,"Id","Date"))"></select>
                <span asp-validation-for="BillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control"
                        asp-items="@(new SelectList(Model.Items,"Id","Name"))"></select>
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            
            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-outline-info" />
                <a asp-action="Index" class="btn btn-primary"> Back to List</a>
            </div>
        </form>

    </div>
</div>
