﻿@model Store.ViewModels.ImageItemViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>
    ImageItemViewModel
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="ImageId" class="control-label"></label>
                <input asp-for="ImageId" readonly class="form-control" />
                <span asp-validation-for="ImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control"
                        asp-items="@(new SelectList(Model.Items,"Id","Name"))"></select>
                <span asp-validation-for="ItemId"  class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
                <img src="~/uploads/@Model.ImageUrl" style="width:124px;" class="img-thumbnail" />
            </div>
            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-outline-info" />
                <a asp-action="Index" class="btn btn-outline-info"> Back to List</a>
            </div>
        </form>

    </div>
</div>
