﻿@model IEnumerable<Store.Models.Image>

    @{
        ViewData["Title"] = "Index";
    }
    <h2> Index</h2>
    <p>
        <a asp-action="Create" class="btn btn-outline-info">Create New </a>
    </p>
    <table class="table table-bordered table-striped table-hover">
        <thread>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item.Name)
                </th>
                <th>
                    Image
                </th>

                <th></th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="~/uploads/@item.ImageUrl" style="width:64px;" class="img-thumbnail" />
                    }

                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })|
                    @Html.ActionLink("Details", "Details", new { id = item.Id })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }))
                </td>
            </tr>
            }
        </tbody>

    </table>
