﻿@model Store.ViewModels.BrandCategoryViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>
    ItemBrandCategoryViewModel
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @if (ViewBag.Message != null)
            {
                <h5 class="alert alert-danger">@ViewBag.Message</h5>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

           
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control"
                        asp-items="@(new SelectList(Model.Brands,"Id","Name"))"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.Categorys,"Id","Name"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"> </span>
            </div>


            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info"> Back to List</a>
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index"> Back to List</a>
</div>
@section Scripts{
    <partial name="_Validation" />
}
