﻿@model Store.Models.BrandCategory
@{
    ViewData["Title"] = "Details";

}
<h2>Details</h2>
<div>
    <h4>BrandCategory</h4>
    <hr />
    <d1 class="dl-horizental">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
     
       
    </d1>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info"> </a>
    <a asp-action="Index">Back to List</a>
</div>
