﻿@model Store.ViewModels.BrandCategoryViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>
    BrandCategoryViewModel
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="BrandCategoryId" class="control-label"></label>
                <input  asp-for="BrandCategoryId" readonly class="form-control" />
                <span asp-validation-for="BrandCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control"
                        asp-items="@(new SelectList(Model.Brands,"Id","Name"))"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.Categorys,"Id","Name"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            
            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-outline-info" />
                <a asp-action="Index" class="btn btn-primary"> Back to List</a>
            </div>
        </form>

    </div>
</div>
