﻿@model IEnumerable<Store.Models.BrandCategory>

@{
    ViewData["Title"] = "Index";
}
<h2> Index</h2>
<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New </a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
           
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
              
             

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })|
                    @Html.ActionLink("Details", "Details", new { id = item.Id })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                    @Html.ActionLink("AddItem", "AddItem", new { id = item.Id }))
                </td>
            </tr>
        }
    </tbody>

</table>

