﻿@model Store.Models.Category
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>
    Category
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    @{string[] TypeCat =new string[]{"Wearing","Electronic"};}
                                    @foreach(var dow in TypeCat)
                                    {
                            <option value="@dow">@dow</option>
                        }
                    </select>
                <span asp-validation-for="Type" class="text-danger"> </span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info"> Back to List</a>
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index"> Back to List</a>
</div>
@section Scripts{
    <partial name="_Validation" />
}



